@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header {background-color: #404B53;}
header .wrapper {width: 92%;}

h1 {
  width: 17%;
  display: inline-block;
}

h1 a {text-indent: -9999px;}
h1 img {float: right;}

nav {
  width: calc(100% - 270px);
  float: right;
  margin-top: 35px
}

.nav-list li {
  flex-basis: 17%;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.nav-list {
  width: 60%;
  display: inline-flex;
}

.nav-list a {
  color: #fff;
  font-size: 15px;
}

.nav-list .active {color: #C75B3D;}
.nav-list .active:hover {color: #fff;}

.nav-list a:hover {
  color: #C75B3D;
  transition: .2s;
}

.icon-list {
  width: 39%;
  display: inline-flex;
  justify-content: flex-end;
}

.icon-list li {
  flex-basis: 10%;
}

.icon-list a {
  width: 20px;
  height: 20px;
  float: right;
  text-indent: -99999px;
}

.icon-list a::before {
  text-indent: 0;
  float: right;
}

.icon-list .twitter::before {
  content: "\f081"; 
  color: #C0C0C2;
  font-family: "FontAwesome";
  font-size: 30px;
}

.icon-list .youtube::before {
  content: "\f167"; 
  color: #C0C0C2;
  font-family: "FontAwesome";
  font-size: 30px;
}

.icon-list .wifi::before {
  content: "\f1eb";
  color: #C0C0C2;
  font-family: "FontAwesome";
  font-size: 30px;
}

.icon-list .facebook::before {
  content: "\f082";
  color: #C0C0C2;
  font-family: "FontAwesome";
  font-size: 30px;
}

.icon-list .google::before {
  content: "\f0d4";
  color: #C0C0C2;
  font-family: "FontAwesome";
  font-size: 30px;
}





/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner {
  width: 100%;
  background: url('https://via.placeholder.com/1260x465.png');
  height: 465px;
  position: relative;
}

.banner .wrapper {
  width: 45%;
  margin: 0 auto;
}

.banner div {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 98%;
  left: 23%;
  background-color: #DC6226;
  text-align: center;
  transform: translate(-50px, -50px);
}

.banner h2 {
  margin: 20px 53px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.banner h2::before {
  position: absolute;
  top: 35px;
  left: 3%;
  content: "\f053"; 
  color: #fff;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 33px;  
}

.banner h2::after {
  position: absolute;
  top: 35px;
  right: 3%;
  content: "\f054";
  color: #fff;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 33px; 
  
}

.client {margin: 75px 0;}
.client .wrapper {width: 89%;}

.client h2,
.advice h2 {
  color: #404B52;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.client ul {
  width: 100%;
  margin: 50px auto;
  display: flex;
}

.client li {
  flex-basis: 24%;
  margin-left: calc(2% - 5px);
}

.client li:first-child {margin-left: 0;}

.client ul figure {
  width: 20%;
  margin: 0 auto;
}

.client figure img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 30px;
}

.client-heading {
  width: 36%;
  margin: 0 auto;
  margin-bottom: 20px;
  color: #404B59;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.client-text {
  width: 82%;
  margin: 0 auto;
  color: #C0C0C2;
  font-size: 13px;
  text-align: center;
  margin-bottom: 30px;
}

.client-btn {
  width: 30%;
  padding: 15px 20px;
  margin-left: 28%;
  border: 2px solid #C0C0C2;
  text-align: center;
  text-transform: capitalize;
}

.client-btn:hover {
  background-color: #404B59;
  color: #fff;
}

.advice {background-color: #E7EFF2;}

.advice .wrapper {
  width: 92%;
  margin: 0 auto;
  padding: 75px 0;
}

.advice h2 {margin-bottom: 30px;}

.advice p {
  margin-bottom: 60px;
  color: #404B52;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.advice ul {
  width: 100%;
  display: flex;
}

.advice-list {
  width: 32%;
  margin-left: 2%;
  background-color: #fff;
}

.advice-list:first-child {margin-left: 0;}

.advice-list figure {
  width: 92%;
  margin: 13px auto;
}

.advice-list img {width: 100%}

.advice-div {
  width: 80%;
  margin: 40px auto;
  text-align: center;
}

.advice-heading {
  margin-bottom: 15px;
  color: #C75B3D;
  font-size: 25px;
  font-weight: bold ;
  text-transform: capitalize;
}

.advice-div p {
  width: 89%;
  margin: 0 auto;
  color: #404B59;
  font-size: 13px;   
}

.advice-div p::after {
  content: "\f18e";
  font-family: "FontAwesome";
  font-size: 20px;
}

.sol-section .wrapper {
  max-width: 2000px;
  width: 100%;
  display: flex;
}

.solution {
  flex-basis: 50%;
  margin: 0 auto;
  display: inline-block;
  background-color: #DC6327;
}

.solution h3 {
  margin: 60px 10% 30px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

.solution ul li,
.money ul li {
  margin: 0 10% 19px;
  display: block;
  color: #fff;
  font-family: serif;
  font-size: 17px;
}

.solution ul li::before,
.money ul li::before {
  margin-right: 2%;
  content: "\f013";
  color: #fff;
  font-family: "FontAwesome";
}

.money-btn {
  width: 11%;
  margin: 0 0 30px 10%;
  padding: 15px 20px;
  border: 2px solid #fff;
  color: #fff;
  text-transform: capitalize;
}

.money-btn:hover {
  background-color: #C0C0C2;
  color: #E7EFF2;
}

.money {
  flex-basis: calc(50% - 1px);
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
  background-color: #404B51;
}

.money h3 {
  margin: 60px 10% 30px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

.money h3 span {text-transform: lowercase;}

.money p {
  margin: 0 10%;
  color: #fff;
  font-family: serif;
  font-size: 17px;
  margin-bottom: 30px;
}


/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-top {background-color: #515C62;}
.footer-top .wrapper {width: 92%;}

.footer-list {
  width: 100%;
  display: flex;
}

.footer-list li {
  flex-basis: 34%;
  margin: 90px auto;
}

.footer-list li a {
  width: 50%;
  margin-left: 5%;
  color: #fff;
  text-transform: uppercase;
}

.footer-list li::before {
  border: 10px solid #6D717C;
  border-radius: 50%;
  background-color: #DC6327;
  color: #fff;
  font-family: "FontAwesome";
  font-size: 50px;
}

.footer-list li:first-child::before {
  content: "\f041";
  padding: 5px 20px;
}

.footer-list li:nth-child(2)::before {
  content: "\f0e0";
  padding: 10px 15px;
}

.footer-list li:last-child::before {
  content: "\f095";
  padding: 10px 15px;
}

.footer-bottom {
  padding: 80px 60px;
  background-color: #434C50;
}

.footer-bottom .wrapper {
  max-width: 1400px;
  width: 100%;
  display: flex;
}

.footer-bottom p {color: #fff;}
.footer-bottom div {flex-basis: 59%;}

.footer-bottom p a{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer-icon .tumblr::before {
  content: "\f174"; 
  color: #DC6327;
  font-family: "FontAwesome";
  font-size: 20px;
}

.footer-icon .twitter::before {
  content: "\f081"; 
  color: #DC6327;
  font-family: "FontAwesome";
  font-size: 20px;
}

.footer-icon .youtube::before {
  content: "\f167"; 
  color: #DC6327;
  font-family: "FontAwesome";
  font-size: 20px;
}

.footer-icon .wifi::before {
  content: "\f1eb";
  color: #DC6327;
  font-family: "FontAwesome";
  font-size: 20px;
}

.footer-icon .facebook::before {
  content: "\f082";
  color: #DC6327;
  font-family: "FontAwesome";
  font-size: 20px;
}

.footer-icon .google::before {
  content: "\f0d4";
  color: #DC6327;
  font-family: "FontAwesome";
  font-size: 20px;
}

.footer-bottom figure {flex-basis: 41%;}
.footer-bottom figure img {width: 100%;}

.footer-icon a {
  width: 20px;
  height: 20px;
  float: right;
  text-indent: -99999px;
}

.footer-icon a::before {
  text-indent: 0;
  float: right;










 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  